<?xml version="1.0"?>
<launch>
  <node name="ius_vis" pkg="ius_visualization" type="ius_visualization_node"/>
  <node name="rviz_ius" pkg="rviz" type="rviz" args="-d $(find ius_visualization)/config.rviz"/>

  <node pkg="tf2_ros" type="static_transform_publisher" name="static_tf_publisher" args="0 0 0 0 0 0 world map"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="static_tf_publisher2" args="0 0 0 0 0 0 world camera_init"/>
</launch>